# Unused
unused/
csv-importing-unused/
MockPages/
*.zip

# Git stuff
.gitignore
.git/

# Documentation
*.md
*.txt

# Kubernetes resources (shouldn't be needed in image)
*.yml
*.yaml
helm/**
helm/values.aafc.yaml

# built artifacts from Maven
target/
src/test/**

