# eclipse setting#
*/.settings/*
*/.classpath
*/.project
*/.metadata/*
*/RemoteSystemsTempFiles/*
*/target/*
transactions.log
*.class

#Mac OSX#
.DS_Store

# Mobile Tools for Java (J2ME) #
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# emacs #
*~

# build artifacts#
target
\#*\#

