#viraldisplay{

    display:none /* By Default the box is hidden */        
}
 
/* This selector selects the box currently targeted */     
.box:target{
    display:block;
}
	
/* Select the next sibling div with the particular ID and only display it when checked and hide the others*/
.fungaldisplay:checked ~ #fungaldisplay{
  display: block
}
.viraldisplay:checked ~ #viraldisplay{
  display: block
}
.viraldisplay:checked ~ #fungaldisplay{
  display: none
}
.fungaldisplay:checked ~ #viraldisplay{
  display: none
}